/*----- Common ---------*/
body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-transform: uppercase;
}


/*------Head bar---------*/
.header-bar {
    background-color: lightslategray;
    height: 350px;
}

.title-bar {
    margin-top: -200px;
}

/*
.container {
    width: 100%;
    max-width: 1200px;
}
*/



/*------Title name--------*/
.avatar {
    width: 210px;
    height: 210px;
    margin-bottom: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px 0 black;
}

.title-name {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 5px ;
}

.title-class {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;
}


/*------Side bar-----------*/
.contact-icon {
    margin-right: 12px;
    width: 16px;
}

/*
.heading-list-contact {
    grid-area: contact;
}

.heading-list-education {
    grid-area: education;
}

.heading-list-expertise {
    grid-area: expertise;
}

.heading-list-profile {
    grid-area: profile;
}
*/

.item-list {
}

.md\:flex-col {
}

@media (max-width: 768px) {
    /*----------Head----------*/
    .title-bar {
        margin-top: -270px;
        margin-bottom: 24px;
    }

    .md\:flex {
        justify-content: space-around;
        align-items: center;
    }

    hr.border-name {
        border: 2px solid #ecdede;
        border-radius: 5px;
        width: 150px;
        margin: auto;
    }
}

@media (max-width: 375px) {

    /*----------Head----------*/
    .header-bar {
        height: 300px;
    }

    /*----------Title name----------*/
    .avatar {
        margin: auto;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
    .title-class {
        margin-bottom: 15px;
    }

    hr.border-name {
        border: none;
    }

    .title-name {
        font-size: 30px;
        font-weight: 500;
        text-align: center;
    }

    .title-class {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }


    /*-------Side bar--------*/
    .section {
       padding-left: 15px;
        margin-bottom: 15px;
    }

    .container {
        width: 100%;
    }

    .item-list {
        padding-left: 25px;
        margin-bottom: 20px;
    }

    .heading {
        font-size: 18px;
        font-weight: 500;
    }
}
